.container {
    margin: auto;
    text-align: center; /* Centra el contenido horizontalmente */
 
  }
  
  .cuota-card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  Link {
    display: block;
    margin-bottom: 20px;
  }
  
