.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #00a600; /* Verde */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #00a600; /* Verde */
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00a600; /* Verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007b00; /* Verde más oscuro al pasar el ratón */
  }
  