/* Configuración global */
body {
  font-size: 16px; /* Tamaño de fuente base para toda la aplicación */
}

/* Estilos para centrar y ajustar tamaño en todos los componentes */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
}

.componente {
  width: 100%; /* Ajusta el ancho del componente según tus necesidades */
  max-width: 500px; /* Establece un ancho máximo para evitar que sea demasiado ancho */
  text-align: center;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 1000px) {
  body {
    font-size: 14px; /* Reduzca el tamaño de fuente base para dispositivos móviles */
  }

  .componente {
    width: 400px; /* Aumenta el ancho para que sea más grande en dispositivos móviles */
  }
}

/* Agrega cualquier estilo adicional necesario para dispositivos móviles aquí */

/* Mantén tus estilos existentes para otros elementos de la aplicación */
